<header>
    <div class="container">
      <div class="row">
        <div class="col-md-1 col-sm-2 col-xs-2 logo">
          <a href="<%= rootPath() %>"><img src="<%= rootPath() %>assets/images/logo.svg" alt=""></a>
        </div>
        <div class="col-md-9 col-sm-9 col-xs-10 titles">
          <h1><%= t("welcome_greeting") %></h1>
          <h2>
            <a href="https://github.com/gobuffalo/buffalo"><i class="fab fa-github" aria-hidden="true"></i> https://github.com/gobuffalo/buffalo</a>
          </h2>
          <h2 class="documentation">
            <a href="http://gobuffalo.io/"><i class="fa fa-book" aria-hidden="true"></i> Documentation</a>
          </h2>
        </div>
      </div>
    </div>
  
  </header>
  <div class="container-fluid">
    <div class="main-box">
        <textarea class="form-control form-control-lg bg-light" rows="7" name="editor" id="editor"></textarea>
    </div>
  </div>
  <div class="foot"> <span> Powered by <a href="http://gobuffalo.io/">gobuffalo.io</a></span> </div>
  
  <script>
    var ws = new WebSocket("ws://localhost:3000/ws");
    ws.addEventListener("open", function() {
        console.log("WebSocket connection established.");
    });
    ws.addEventListener("error", function(event) {
        console.error("WebSocket error:", event);
    });
    var textbox = document.getElementById("editor");
    textbox.addEventListener("input", function() {
        var context = textbox.value;
        ws.send(context);
    });
    ws.addEventListener("message", function(event) {
        jsonData = JSON.parse(event.data);
        textbox.value = jsonData[0].data;
    });

  </script>